name: CI checks

on:
  pull_request:
    branches: ["main"]
  push:
    branches: ["main"]

  # Manual testing
  workflow_dispatch:

jobs:
  linting:
    name: Check Formatting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup rokit
        uses: CompeyDev/setup-rokit@v0.1.2

      - name: Run stylua
        run: stylua --check src/ tests/

      - name: Run selene
        run: ./scripts/shell/lint.sh

  luau-tests:
    name: Run Luau tests via Open Cloud
    runs-on: ubuntu-latest
    concurrency:
      group: luau-execution
      cancel-in-progress: false
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup pesde
        uses: ewd3v/setup-pesde@v0.1.1

      - name: Run tests
        run: ./scripts/shell/test.sh
        env:
          ROBLOX_API_KEY: ${{ secrets.ROBLOX_API_KEY }}
          ROBLOX_UNIVERSE_ID: ${{ vars.ROLBOX_TEST_UNIVERSE_ID }}
          ROBLOX_PLACE_ID: ${{ vars.ROLBOX_TEST_PLACE_ID }}
