name: Publish Release

on:
  release:
    types: [created]

defaults:
  run:
    shell: bash

permissions:
  contents: write

jobs:
  publish:
    name: Publish Release
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Extract version from tag
        id: get_version
        run: |
          raw="${{ github.event.release.tag_name }}"
          echo "version=${raw#="v"}" >> "$GITHUB_OUTPUT"

      - name: Bump pesde version
        uses: DervexDev/file-version-bumper@v1
        with:
          path: ./pesde.toml
          version: ${{ steps.get_version.outputs.version }}

      - name: Bump wally version
        uses: DervexDev/file-version-bumper@v1
        with:
          path: ./wally.toml
          version: ${{ steps.get_version.outputs.version }}

      - name: Setup rokit
        uses: CompeyDev/setup-rokit@v0.1.2

      - name: Commit and push version bumps
        uses: EndBug/add-and-commit@v9
        with:
          message: "release: ${{ github.event.release.tag_name }}"
          default_author: github_actions

      - name: Build
        run: rojo build default.project.json --output dist.rbxm

      - name: Upload build to release
        uses: softprops/action-gh-release@v2
        with:
          files: dist.rbxm
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # Setup pesde after building so the build does not get the dev dependencies
      - name: Setup pesde
        uses: ewd3v/setup-pesde@v0.1.1
        with:
          pesde_token: ${{ secrets.PESDE_TOKEN || github.token }}

      - name: Publish to pesde
        run: pesde publish -y

      - name: Publish to wally
        run: wally publish --token "${{ secrets.WALLY_TOKEN }}"
